<!doctype html>
<html>
    <head>
        {{> html_head}}
    </head>
    <body class="theme-dark1">
        {{> header active=""}}

        <h1>{{ui_strings.missing_page}}</h1>

        {{> footer}}
    </body>
</html>
