<!doctype html>
<html>
    <head>
        {{> html_head}}
    </head>
    <body class="theme-dark1">
        {{> header active="home"}}
        
        <div id="content">
        </div>

        {{> footer}}

        <script>
            const vm = new Vue({
                "el": "#content",
                "template": `
                    <div>
                        <h1>Home</h1>
                    </div>
                `,
            })
        </script>
    </body>
</html>
