<!doctype html>
<html>
    <head>
        {{> html_head}}
    </head>
    <body class="theme-dark1">
        {{> header active="universes"}}

        <div id="content"></div>

        {{> footer}}

        <script>
            const vm = new Vue({
                el: "#content",
                template: `<universesContent
/>`,
            });
        </script>
    </body>
</html>
