<html>
    <head>
        {{> html_head}}
    </head>
    <body>
        {{> header}}

        <h3>
            Looks like this page is missing.
        </h3>

        {{> footer}}
    </body>
</html>
