<html>
    <head>
        {{> html_head}}
    </head>
    <body>
        {{> header}}

        <!-- This will be the main content -->
        <h1>Home</h1>

        {{> footer}}
    </body>
</html>
