/* These are the theme colours, to keep them separate from everything else */
.theme-primary {
    background-color: #29506D !important;
    color: #fff !important;
}
.theme-dark1 {
    background-color: #2b1000 !important;
    color: #eee !important;
}
.theme-dark2 {
    background-color: #5e2300 !important;
    color: #eee !important;
}
.theme-dark3 {
    background-color: #913600 !important;
    color: #eee !important;
}
.theme-light1 {
    background-color: #376b92 !important;
    color: #222 !important;
}
.theme-light2 {
    background-color: #4586b7 !important;
    color: #222 !important;
}
.theme-light3 {
    background-color: #689ec6 !important;
    color: #222 !important;
}
.theme-light4 {
    background-color: #8db6d4 !important;
    color: #222 !important;
}
.theme-light5 {
    background-color: #b2cee2 !important;
    color: #222 !important;
}

.theme-seeThrough {
    background-color: #FFF0;
    color: currentColor;
}

svg.text {
    fill: currentColor;
    stroke: currentColor;
}
.theme-dark3 svg.icon {
    stroke: #376b92;
    fill: #376b92;
}

/* Different box shadows in our colour scheme */
.theme-dark3 .boxshadow {
    border-radius: 0.5em;
    box-shadow: 0 0 4px 2px #376b92;
}

.focus-input {
    /* Use the lightest theme for the shadow */
    box-shadow: 0 0 0.1em 0.25em #689ec6bb;
}

/* The different button themes */
.theme-delete {
    background: #ce2029;
    color: #eee;
}
.theme-delete-hover {
    background: #e14048;
    color: #111;
}
.theme-delete-pressed {
    background: #e86c72;
    color: #222;
}

/* Some basic page settings */
html, body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: serif;
}
/* Make the entire body a 3-row grid with the middle flexible */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    place-items: start center;

    row-gap: 2em;
}
a {
    /* Remove the text colour and underline */
    color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
}
input {
    border: none;
    outline: none;
    color: inherit;
    background: inherit;
    font: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
}
