.btn {
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 0.5em;
    border-radius: 0.5em;

    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: inherit;
}
.btn::-moz-focus-inner { border: none; }

.text-line {
    height: 1.5em;
    line-height: 1.5em;
}

/* ---- The rules for the form classes ---- */
.form-grid {
    display: grid;
    margin: 1.5% 3%;
}
@media(max-width: 767.98px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
    .form-grid > div {
        margin-bottom: 0.5em;
    }
}
@media(min-width: 767.99px) {
    .form-grid {
        column-gap: 0.5em;
        row-gap: 0.5em;
        grid-template-columns: 2fr 3fr;
        column-gap: 2em;
    }
    .form-grid > label {
        justify-self: end;
    }
    .form-grid > div {
        justify-self: start;
    }
    .form-grid > .formMultiCreate.full {
        grid-column: 1 / -1;
    }
}
