<nav id="nav">
</nav>

{{!-- Create the Vue instance for the header --}}
<script>
    const headerVm = new Vue({
        "el": "#nav",
        "template": "<headerNav active='{{active}}'/>",
    })
</script>
