<form method="GET" action="/sources/search">
    <div class="form-group d-inline">
        <input class="form-input" type="text" name="q" placeholder="{{lang.sources_search_pl}}">
        <input class="btn btn-primary" type="submit" value="{{lang.search}}">
    </div>
</form>
