<nav id="nav">
</nav>

{{!-- Create the Vue instance for the header --}}
<script>
    const headerVm = new Vue({
        "el": "#nav",
        "template": `<headerNavContent
active='{{active}}'
/>`,
    })
</script>
